body {
    background-color: #3e3529;
    font-family: Helvetica Neue, sans-serif;
}

.task-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    resize: vertical;
}

.task {
    display: inline-block;
    width: 160px;
    min-width: 160px;
    padding: 10px;
}

.task-title {
    font-size: 24px;
    color: #ff981f;
}

.task-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    opacity: 0.35;
}